<div class="container-fluid text-center">
    <header class="m-5"
            [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
        <h2>{{ medium }}</h2>
        <div *ngIf="mediaItems">{{ mediaItems | categoryList }}</div>
    </header>
    <section>
        <div class="container-fluid text-center">
            <div class="row justify-content-center">
                <app-media-item [ngClass]="{ 'medium-movies': mediaItem.medium === 'Movies', 'medium-series' : mediaItem.medium === 'Series'}"
                                *ngFor="let mediaItem of mediaItems"
                                [mediaItem]="mediaItem"
                                (delete)="onMediaItemDelete($event)"></app-media-item>
            </div>
        </div>
    </section>
</div>
<footer>
    <div class="row justify-content-center">
    <a routerLink="/add">
        <img src="assets/images/01.png" class="icon">
    </a>
    </div>
</footer>

